[submodule "dilithium"]
	path = dilithium
	url = https://github.com/ethanlee515/dilithium
[submodule "proofs/verifyhashbased"]
	path = proofs/utils/verifyhashbased
	url = git@gitlab.tue.nl:ahuelsin/verifyhashbased.git
[submodule "libjade"]
	path = libjade
	url = https://github.com/dsprenkels/libjade/
